<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"

    id="cordova-plugin-remove-ad-permission" version="1.0.1">

    <name>Mobile Ad Families Programs</name>
    <description>A Cordova plugin for the Construct Master Collection to implement advertisement compliance for applications in Google Play's Designed for Families programs.</description>
    <license>MIT</license>

    <keywords>cordova,android,construct-master-collection,ads,ad-id,designed-for-families-programs,ironsource,google,admob,mediation</keywords>
    <repo>https://github.com/Chadori/Construct-Master-Collection.git</repo>
    <issue>https://github.com/Chadori/Construct-Master-Collection/issues</issue>
  
    <engines>
            <engine name="cordova" version=">=6.4.0"/>
            <engine name="cordova-android" version=">=6.0.0"/>
    </engines>
  
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
        </config-file>

    </platform>

</plugin>
